#el-lugar{
  background-color: #151418;
  position: relative;
  top: -5px;
  h2{
    margin: 0 auto 0 auto;
    display: table;
    padding: 0 39px 50px 39px;
    font-size: 51px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    @media(max-width: 525px){
      font-size: 45px;
      line-height: 42px;
    }
    .side{
      width: 85px;
      height: 23px;
      top: 21%;
    }
  }
  .content-images{
    .image{
      display: block;
      float: left;
      width: calc(100% / 3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media(max-width: 525px){
        width: 100%;
      }
      &::before{
        content: '';
        display: block;
        padding-top: 80%;
      }
    }
  }
}
