header{
  height: 150px;
  background-image: url('./images/bg_header.png');
  background-position: left bottom;
  background-repeat: repeat-x;
  position: relative;
  z-index: 2;
  .menu-principal-container{
    #menu-principal{
      li{
        a{
          font-family: $fontBlackBeard;
          font-size: 20px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
