*{
  padding: 0;
  margin: 0;
  &:focus{
    outline: initial !important;
  }
}
html, body{
  height: 100%;
}
h1, h2, h3, h4, h5 {font-weight: normal; margin: 0; position: relative;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:focus {text-decoration: none;}
a:focus,:focus {outline: 1px dotted #000;}
a:hover,a:active {outline: none;}
ol li, ul ol li {list-style-type: none;}
ul li {list-style-type: none;}
ul ul li {list-style-type: none;}
ul ul ul li {list-style-type: none;}
ol ol li {list-style-type: none;}
ol ol ol li {list-style-type: none;}
sub {
	line-height:0;
  vertical-align: sub;
  font-size: smaller;
}
sup {
	line-height:0;
  vertical-align: super;
  font-size: smaller;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
