@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }
  *:focus {
    outline: initial !important; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
  position: relative; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:focus, :focus {
  outline: 1px dotted #000; }

a:hover, a:active {
  outline: none; }

ol li, ul ol li {
  list-style-type: none; }

ul li {
  list-style-type: none; }

ul ul li {
  list-style-type: none; }

ul ul ul li {
  list-style-type: none; }

ol ol li {
  list-style-type: none; }

ol ol ol li {
  list-style-type: none; }

sub {
  line-height: 0;
  vertical-align: sub;
  font-size: smaller; }

sup {
  line-height: 0;
  vertical-align: super;
  font-size: smaller; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*márgenes*/
body {
  font-size: 16px;
  line-height: 24px; }

a {
  color: #fff; }

a:hover {
  text-decoration: underline;
  color: #fff; }

p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 24px; }

h1 {
  font-size: 2.5em;
  margin-bottom: 60px;
  font-family: "BlackBeard"; }

h2 {
  font-size: 2.2em;
  margin-bottom: 60px;
  font-family: "BlackBeard"; }

h3 {
  font-size: 1.9em;
  margin-bottom: 60px;
  font-family: "BlackBeard"; }

h4 {
  font-size: 1.5em;
  margin-bottom: 60px;
  font-family: "BlackBeard"; }

h5 {
  font-size: 1.3em;
  margin-bottom: 60px;
  font-family: "BlackBeard"; }

.small-text {
  font-size: 0.8em; }

.big-text {
  font-size: 1.2em; }

section {
  margin: 120px 0; }

div.sub-section {
  margin: 0 0 80px 0; }

@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px; }

  p {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 22px; }

  h1 {
    font-size: 1.875em;
    margin-bottom: 45px; }

  h2 {
    font-size: 1.65em;
    margin-bottom: 45px; }

  h3 {
    font-size: 1.425em;
    margin-bottom: 45px; }

  h4 {
    font-size: 1.125em;
    margin-bottom: 45px; }

  h5 {
    font-size: 0.975em;
    margin-bottom: 45px; }

  section {
    margin: 90px 0; }

  div.sub-section {
    margin: 0 0 60px 0; } }
@media (max-width: 576px) {
  body {
    font-size: 12px;
    line-height: 20px; }

  p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px; }

  h1 {
    font-size: 1.25em;
    margin-bottom: 30px; }

  h2 {
    font-size: 1.1em;
    margin-bottom: 30px; }

  h3 {
    font-size: 0.95em;
    margin-bottom: 30px; }

  h4 {
    font-size: 0.75em;
    margin-bottom: 30px; }

  h5 {
    font-size: 0.65em;
    margin-bottom: 30px; }

  section {
    margin: 60px 0; }

  div.sub-section {
    margin: 0 0 40px 0; } }
body {
  background-color: #fff;
  color: #333;
  font-family: "Brandon Grotesque Regular"; }
  body a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease; }
    body a:hover {
      color: #fff;
      text-decoration: none; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.side {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%); }

.left-side {
  left: 0; }

.right-side {
  right: 0; }

.container-fluid {
  width: 100%;
  max-width: 1050px; }

#map {
  width: 100%;
  height: 500px; }

header {
  height: 150px;
  background-image: url("./images/bg_header.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  position: relative;
  z-index: 2; }
  header .container-fluid {
    position: relative; }
    @media (max-width: 768px) {
      header .container-fluid {
        padding: 0 30px; } }
  header h1 {
    text-indent: -10000px;
    display: block;
    float: left;
    width: 168px;
    height: 113px;
    background-size: cover;
    background-position: center;
    background-image: url("./images/logotipo.png");
    margin-top: 17px;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      header h1 {
        float: initial;
        width: 112px;
        height: 75px;
        margin: auto;
        margin-top: 17px;
        margin-bottom: 0; } }
  header .menu-principal-container {
    position: absolute;
    display: table;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
    header .menu-principal-container #menu-principal {
      margin: 0; }
      header .menu-principal-container #menu-principal li {
        display: inline-block; }
        header .menu-principal-container #menu-principal li a {
          font-family: "BlackBeard";
          font-size: 20px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 25px; }
        header .menu-principal-container #menu-principal li:first-child a {
          padding: 0 25px 0 0; }
        header .menu-principal-container #menu-principal li:last-child a {
          padding: 0 0 0 25px; }
  header .main-nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #161418;
    opacity: 1;
    transition: all 0.5s ease; }
    header .main-nav-mobile .menu-principal-container {
      right: initial;
      left: 50%;
      transform: translate(-50%, -50%); }
      header .main-nav-mobile .menu-principal-container .menu {
        margin: 0; }
        header .main-nav-mobile .menu-principal-container .menu li a {
          font-family: "BlackBeard";
          text-decoration: none;
          font-size: 2.5em;
          text-align: center;
          display: block;
          height: calc(100vh / 6);
          line-height: calc(100vh / 6);
          transition: initial; }
    header .main-nav-mobile .dashicons {
      font-size: 45px;
      position: absolute;
      top: 30px;
      right: 30px;
      color: #fff;
      opacity: 1; }
    header .main-nav-mobile.close {
      left: -100%;
      opacity: 0; }
  header .burguer-menu {
    position: absolute;
    right: 30px;
    font-size: 45px;
    top: 30px; }
  @media (max-width: 768px) {
    header {
      height: 111px; } }

#sliderPrincipal {
  height: calc(100% - 145px);
  position: relative;
  width: 100%;
  overflow: hidden;
  top: -5px;
  z-index: 1; }
  @media (max-width: 768px) {
    #sliderPrincipal {
      height: calc(100% - 210px); } }
  @media (max-width: 525px) {
    #sliderPrincipal {
      height: 180px; } }
  #sliderPrincipal .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    #sliderPrincipal .slider .slick-slide h3 {
      color: #fff;
      font-size: 74px;
      line-height: 65px;
      width: 500px;
      margin: 0 auto 30px auto; }
      @media (max-width: 525px) {
        #sliderPrincipal .slider .slick-slide h3 {
          font-size: 30px;
          line-height: 35px;
          width: 55%; } }
    #sliderPrincipal .slider .slick-slide p {
      color: #fff;
      font-size: 40px;
      line-height: 40px;
      width: 500px;
      margin: auto;
      font-family: "BlackBeard"; }
      @media (max-width: 525px) {
        #sliderPrincipal .slider .slick-slide p {
          font-size: 25px;
          line-height: 25px;
          width: 55%; } }
    #sliderPrincipal .slider .dashicons-arrow-right-alt2 {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      cursor: pointer; }
      @media (max-width: 525px) {
        #sliderPrincipal .slider .dashicons-arrow-right-alt2 {
          right: 25px; } }
    #sliderPrincipal .slider .dashicons-arrow-left-alt2 {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      cursor: pointer; }
      @media (max-width: 525px) {
        #sliderPrincipal .slider .dashicons-arrow-left-alt2 {
          left: 25px; } }
    #sliderPrincipal .slider .slick-list {
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
  #sliderPrincipal video {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%; }
    @media (max-width: 768px) {
      #sliderPrincipal video {
        top: 0; } }

#elMenu {
  background-color: #151418;
  background-image: url("./images/bg_menu.png");
  background-repeat: no-repeat;
  background-position: center 300px;
  position: relative;
  top: -5px;
  padding-bottom: 120px;
  padding-top: 40px; }
  #elMenu h2 {
    position: relative;
    display: table;
    color: #fff;
    font-size: 62px;
    line-height: 52px;
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 0 80px; }
    @media (max-width: 525px) {
      #elMenu h2 {
        font-size: 45px;
        line-height: 42px; } }
    #elMenu h2 .side {
      width: 67px;
      height: 27px;
      top: 73%; }
  #elMenu .plato-dia-icon {
    background-image: url("./images/plato_del_dia_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    width: 142px;
    height: 91px;
    margin-bottom: 20px; }
  #elMenu .plato-dia-content {
    position: relative;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px; }
    #elMenu .plato-dia-content .border-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background-image: url("./images/plato_del_dia_content_border_top.png");
      background-repeat: repeat-x; }
    #elMenu .plato-dia-content .border-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      background-image: url("./images/plato_del_dia_content_border_bottom.png");
      background-repeat: repeat-x; }
    #elMenu .plato-dia-content .border-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-image: url("./images/plato_del_dia_content_border_left.png");
      background-repeat: repeat-y; }
    #elMenu .plato-dia-content .border-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 6px;
      height: 100%;
      background-image: url("./images/plato_del_dia_content_border_right.png");
      background-repeat: repeat-y; }
    #elMenu .plato-dia-content h3 {
      font-size: 27px;
      text-transform: uppercase;
      display: table;
      padding: 0 73px;
      margin: 0 auto 26px auto; }
      #elMenu .plato-dia-content h3 span {
        width: 58px;
        height: 21px; }
    #elMenu .plato-dia-content .plato-dia-description p {
      font-size: 24px;
      line-height: 23px;
      font-family: "BlackBeard"; }
      #elMenu .plato-dia-content .plato-dia-description p strong {
        font-weight: initial;
        font-size: 31px;
        line-height: 31px; }
      #elMenu .plato-dia-content .plato-dia-description p:last-child {
        margin: 0; }
  #elMenu .card-menu {
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      #elMenu .card-menu {
        margin: 0 20% 30px 20%; } }
    @media (max-width: 525px) {
      #elMenu .card-menu {
        margin: 0 0 30px 0; } }
    #elMenu .card-menu h3 {
      position: relative;
      display: table;
      margin-bottom: 25px; }
      #elMenu .card-menu h3 span {
        color: #151418;
        position: relative;
        z-index: 2;
        font-size: 26px;
        padding: 0 20px;
        text-transform: uppercase; }
      #elMenu .card-menu h3::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: rotate(-1deg); }
      #elMenu .card-menu h3.style_1::after {
        transform: rotate(2deg); }
      #elMenu .card-menu h3.style_2::after {
        transform: rotate(-2deg); }
      #elMenu .card-menu h3.style_3::after {
        transform: rotate(1deg); }
    #elMenu .card-menu .content-menu ul li {
      color: #fff;
      font-size: 19px;
      font-family: "Brandon Grotesque Medium";
      margin-bottom: 15px;
      background-image: url("./images/bg_menu_list.png");
      background-repeat: repeat-x;
      background-position: left center;
      position: relative; }
      #elMenu .card-menu .content-menu ul li strong {
        background: #151418;
        padding: 0 0 0 12px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
      #elMenu .card-menu .content-menu ul li em {
        font-style: normal;
        background: #151418;
        padding: 0 12px 0 0; }
  @media (max-width: 768px) {
    #elMenu {
      padding-bottom: 25px; } }

#el-lugar {
  background-color: #151418;
  position: relative;
  top: -5px; }
  #el-lugar h2 {
    margin: 0 auto 0 auto;
    display: table;
    padding: 0 39px 50px 39px;
    font-size: 51px;
    line-height: 49px;
    text-align: center;
    color: #fff; }
    @media (max-width: 525px) {
      #el-lugar h2 {
        font-size: 45px;
        line-height: 42px; } }
    #el-lugar h2 .side {
      width: 85px;
      height: 23px;
      top: 21%; }
  #el-lugar .content-images .image {
    display: block;
    float: left;
    width: calc(100% / 3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 525px) {
      #el-lugar .content-images .image {
        width: 100%; } }
    #el-lugar .content-images .image::before {
      content: '';
      display: block;
      padding-top: 80%; }

#contacto h2 {
  color: #151418;
  position: relative;
  display: table;
  margin: 70px auto 50px auto;
  font-size: 51px;
  padding: 0 84px; }
  @media (max-width: 525px) {
    #contacto h2 {
      font-size: 30px; } }
  #contacto h2 .side {
    width: 68px;
    height: 36px;
    top: 57%; }
#contacto p {
  color: #0c0c0e;
  font-size: 16px;
  line-height: 27px;
  font-family: "Brandon Grotesque Medium"; }
#contacto form label {
  color: #0c0c0e;
  font-size: 16px;
  font-family: "Brandon Grotesque Medium";
  font-weight: bold; }
#contacto form div {
  float: left;
  margin-right: 20px;
  width: calc(50% - 10px); }
  #contacto form div:nth-child(3) {
    margin-right: 0; }
  #contacto form div.textarea-content {
    width: 100%;
    position: relative;
    height: 200px; }
    #contacto form div.textarea-content br {
      display: none; }
    #contacto form div.textarea-content textarea {
      width: 97%;
      height: 180px;
      margin: 10px;
      border: none;
      background: transparent;
      font-family: "Brandon Grotesque Medium";
      font-weight: normal; }
    #contacto form div.textarea-content span.border-top {
      top: 0;
      width: 100%;
      background-image: url("./images/border-textarea-top.png");
      background-repeat: repeat-x;
      height: 3px;
      position: absolute; }
    #contacto form div.textarea-content span.border-right {
      top: 0;
      width: 3px;
      right: 0;
      background-image: url("./images/border-textarea-right.png");
      background-repeat: repeat-y;
      height: 100%;
      position: absolute; }
    #contacto form div.textarea-content span.border-bottom {
      bottom: 0;
      width: 100%;
      background-image: url("./images/border-form-bottom.png");
      background-repeat: repeat-x;
      height: 3px;
      position: absolute; }
    #contacto form div.textarea-content span.border-left {
      top: 0;
      width: 3px;
      left: 0;
      background-image: url("./images/border-textarea-leftt.png");
      background-repeat: repeat-y;
      height: 100%;
      position: absolute; }
  #contacto form div label {
    width: 100%; }
    #contacto form div label span {
      display: block;
      width: 100%; }
  #contacto form div.submit {
    float: right;
    width: 80px;
    margin: -58px 0 0 0; }
    @media (max-width: 525px) {
      #contacto form div.submit {
        margin: -36px 0 0 0; } }
    #contacto form div.submit input {
      background: #0c0c0e;
      color: #fff;
      font-family: "Brandon Grotesque Medium";
      font-weight: bold;
      font-size: 16px;
      width: 80px;
      height: 35px;
      border: none; }
  #contacto form div.wpcf7-response-output {
    width: 100%;
    font-family: "Brandon Grotesque Medium"; }
#contacto form input[type="text"] {
  background: #fff;
  border: none;
  background-image: url("./images/border-form-bottom.png");
  background-repeat: repeat-x;
  background-position: bottom;
  margin-top: 10px;
  font-family: "Brandon Grotesque Medium";
  font-weight: normal;
  width: 100%; }
#contacto .cartel-open {
  margin: 60px auto 40px auto;
  display: block; }
#contacto h3 {
  color: #151418;
  font-size: 31px;
  font-family: "BlackBeard";
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 30px; }
#contacto .post {
  text-align: center;
  font-family: "Brandon Grotesque Medium";
  font-weight: bold;
  color: #0c0c0e;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 50px;
  text-transform: uppercase; }
#contacto .forma {
  margin: 0 auto 35px auto;
  display: block; }
#contacto p.pago {
  font-family: "Brandon Grotesque Medium";
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px; }
#contacto img.tarjetas {
  display: block;
  margin: 0 auto 80px auto; }

#eventos {
  height: 509px; }
  #eventos .left-side {
    position: relative;
    width: 50%;
    float: left;
    min-height: 509px;
    background-color: #151418;
    background-image: url("./images/bg_menu.png");
    background-repeat: no-repeat;
    background-position: center top; }
    @media (max-width: 525px) {
      #eventos .left-side {
        width: 100%;
        float: initial; } }
    #eventos .left-side .centere-v {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%); }
    #eventos .left-side h2 {
      font-family: "BlackBeard";
      font-size: 51px;
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: #fff; }
    #eventos .left-side .content {
      color: #fff;
      font-family: "Brandon Grotesque Medium";
      font-weight: bold;
      text-align: center;
      font-size: 19px;
      line-height: 34px;
      display: block;
      max-width: 70%;
      margin: auto; }
      #eventos .left-side .content p {
        font-family: "Brandon Grotesque Medium";
        font-weight: bold;
        text-align: center;
        font-size: 19px;
        line-height: 34px;
        margin: 0; }
  #eventos .right-side {
    width: 50%;
    float: right;
    min-height: 509px;
    background-position: center;
    background-size: cover; }
    @media (max-width: 525px) {
      #eventos .right-side {
        width: 100%;
        float: initial; } }

#sliderBottom .slick-slide {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #sliderBottom .slick-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    #sliderBottom .slick-slide .overlay .icon {
      display: block;
      margin: 0 auto 20px auto; }
    #sliderBottom .slick-slide .overlay h3 {
      display: table;
      margin: 0 auto 20px auto;
      color: #fff;
      font-family: "Brandon Grotesque Medium";
      font-size: 28px;
      letter-spacing: 1px;
      text-transform: uppercase;
      max-width: 480px;
      width: 100%;
      margin: auto;
      text-align: center; }
    #sliderBottom .slick-slide .overlay .content {
      max-width: 600px;
      width: 100%;
      margin: auto; }
      #sliderBottom .slick-slide .overlay .content p {
        color: #fff;
        font-family: "Brandon Grotesque Light";
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: center; }
        #sliderBottom .slick-slide .overlay .content p:last-child {
          margin: 0; }
    #sliderBottom .slick-slide .overlay .center-v {
      position: absolute;
      top: 50%;
      display: table;
      width: 100%;
      transform: translateY(-50%); }
#sliderBottom .slick-dots {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%); }
  @media (max-width: 525px) {
    #sliderBottom .slick-dots {
      display: none; } }
  #sliderBottom .slick-dots li {
    width: 15px;
    height: 15px;
    border: solid 2px #fff;
    border-radius: 50%;
    background-color: transparent;
    margin: 5px 0; }
    #sliderBottom .slick-dots li button {
      display: block;
      opacity: 0;
      width: 9px;
      height: 9px;
      color: transparent;
      border: none;
      border-radius: 50%;
      position: absolute;
      margin: 1px;
      padding: 0;
      background-color: #fff;
      transition: all 0.5s ease; }
    #sliderBottom .slick-dots li.slick-active button {
      opacity: 1; }

footer {
  background-color: #151418;
  background-image: url("./images/bg_menu.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding: 60px 0; }
  footer .container-fluid {
    max-width: 90%; }
    footer .container-fluid .row .column {
      float: left;
      padding: 0 30px;
      width: calc(100% / 4); }
      @media (max-width: 768px) {
        footer .container-fluid .row .column {
          width: calc(100% / 3); } }
      @media (max-width: 525px) {
        footer .container-fluid .row .column {
          width: 100%;
          padding: 0 15px 60px 15px; }
          footer .container-fluid .row .column:last-child {
            padding-bottom: 0; } }
      footer .container-fluid .row .column h3 {
        color: #fff;
        font-size: 31px;
        font-family: 'BlackBeard';
        letter-spacing: 3px;
        margin-bottom: 20px; }
      footer .container-fluid .row .column h4 {
        color: #fff;
        font-size: 29px;
        font-family: 'BlackBeard';
        margin-bottom: 20px;
        letter-spacing: 1px; }
      footer .container-fluid .row .column p {
        color: #fff;
        font-size: 23px;
        line-height: 30px;
        font-family: "Brandon Grotesque Medium"; }
        footer .container-fluid .row .column p a {
          text-decoration: none; }
        footer .container-fluid .row .column p:last-child {
          margin: 0; }
      footer .container-fluid .row .column .line {
        margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
